:root{
    --bgcolor: grey;
    --texthead: white;
    --textcolor: white;
    --imagen: url("./assets/img/hawaii.jpg");
    --negocioscolor: green;
    --javacolor:red;
    --labcolor: blue;
    --visualcolor: purple;
    --puzzlecolor: darkgreen;
    --titlecolor: red;
    --footercolor: darkslategrey;
}
*{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding:0;
    margin:0 ;
    box-sizing: border-box;
    & a{
        color:antiquewhite;
        text-decoration: none;
    }
    & h3{
        font-size: 20px;
        padding:.5em 0 .5em 0;
    }
   
}


header{
    display:grid;
    background-color: var(--bgcolor);    
    position: fixed;
    height: 4em;
    width: 100%;
    top:0;
    z-index: 10;
    .logo{
        & img{
            height:4em;
            vertical-align: middle;

        }
        & h1{
            display:inline-block;
            vertical-align: middle;
        }
      
    }
    .navBar{
        color: var(--texthead);
        font-size: 18px;
        font-weight: 200;
        position:absolute;
        top:1em;
        right: 5%;
        text-align: center;
       & a {
        margin-left:20px;         
        
    }
    
}

}
/*defino los títulos de cada seccion*/
 .seccionTitulo{ 
    font-size: 1.5em;
    width:100%;
    /*border:2px solid black;   */
    color: var(--titlecolor);
    text-align: center;
   margin: 2em auto 2em auto;
   & h2{
    text-transform:uppercase;
}
/*texto comun a todas las secciones*/
 }
 .texto{
    
    color: var(--textcolor);  
    font-weight: 100;
    
}

main{
    width: 100%;    
}

main #imagenPrincipal{
    
    
    position:relative;
    display:block;
    padding-top: 12em;
    top:4em;
    width:100%;
    height: 700px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:   
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
       var(--imagen);   
           
    

   
/* botones al final del texto */
    .texto.principal{
        margin-right:5%;
       margin-left: 50%;
        
    text-align: right;
 
     }

    .texto.idea,
    .texto.blog{
        margin-top: 1em;
        float: right;
        border:1px solid;
        padding: .5em;
        border-radius: 5px;
        font-weight: 400;
        
    }
    .texto.idea{
        border-color: white;
        margin-right:1em; 
    }
    .texto.blog{
        border-color: black;
        background-color: green;
        margin-right:5%; 
        
    }

}

/*presento los juegos en cajas con título y descripción el not first of type me permite mantener el titulo fuera del flex*/

#cajaJuegos:not(:first-of-type){
    width:100%;
    justify-content: center; 
    display: flex;
    flex-flow: row wrap;
    margin:3em;  
   
}
 #cajaJuegos img:hover{
   background-color: red;
   opacity: 0.8;
   filter: saturate(7);

}
.juego{
       padding:0 30px 0 30px;
    width:350px;
    height: auto;
   
    
  /*  border:2px solid black;*/
   
}
.vistaJuego{
        margin-top:5%;
    display:inline-block;
    width:100%;
    height:auto;
    border-radius:5%;
    margin-bottom:20px;
}
.tituloJuego{
        position:relative;
        display:inline-block;
    
        
   
}
/* administro las etiquetas de los juegos según programación y categoría de juego - la idea de colocar los valores como content es para poder etiquetar directamente desde el class de cada juego sin posibilidad de error en los tags*/
 .pro, 
 .cat{
    
    color:var(--texthead);
    padding: .3em;
    
    border-radius: 5px;
    margin-right:10px;
    font-weight: 400;
           
}
.javascript{
    &::after{
        content:"javaScript";
    }
    background-color: var(--javacolor);
}

.startups{
    &::before{
        content:"startups";
    }
    background-color: var(--labcolor);
}
.react{
    &::before{
        content:"react";
    }
    background-color: var(--puzzlecolor);
}
.negocios{
    &::before{
        content:"negocios"
    }
    background-color: var(--negocioscolor)
}

    /*staff -creo una única clase que contiene una foto y otra que contiene el texto: divStaff
    en staff invierto la imagen de los bugs. luego invierto los contenidos de divStaff para que la foto y el texto esten en sentido correcto*/

#staff{
   
    position:relative;
    width:100%;
    display: flex;
    overflow: hidden;
   
   
}
.divStaff{        
    height: 350px;
    width:100%;
    vertical-align:top;
    color:var(--textcolor);
    background-color: grey;
    & img{    
        margin-top: 0%;
        width:100%;
         }
    & h3{        
        padding-top:4.5em;
    }
    & p, h3{
        margin-left:auto;
        margin-right: auto;
        padding-left: 10%;
        font-weight: 400;        
    }
}

/*seccion ideas : usé el mismo recurso de first of type que en cajajuegos en caso de usar un flex*/
#ideas:not(:first-of-child){
   /* border:2px solid black;*/
    position:relative;
    width:100%;
    display: flex;
    
}
.tituloFormulario{        
    font-weight: 700;
    margin: 0 auto 2em 5%;   
    width:50%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}
.formulario{  
    /*armo dos div donde el primero contiene los dos campos de nombre y email, el segundo solo el textarea*/
    .lineaFormulario{
       
       margin: 1.5em auto;
       display:flex;
       /*esta parte es util solo para la primer linea donde debo armar dos campos con un espacio en el medio mediante width 45 en campo y space between en justify content*/
       flex-direction: row;
       justify-content: space-between;
       .campo{    
       font-size: 1.5em;
       width: 45%;
              }
       #tuIdea{
       width: 100%;
       height:200px;
       font-size: 1.5em;
       }
    
    }
    & button{
        font-size: 1.5em;
        margin-bottom:2em;
    }
}
.tuIdea{
    padding-top:1.2em;
    display: block;
}
/* voy con el footer */
footer{
    position: relative;
    margin-bottom: 10px;
    background-color: var(--footercolor);
    color: var(--textcolor);
    display:flex;
    flex-direction:row;
    justify-content: center;
    min-height:50px;
    padding-top: 1em;
    width: 100%;
    .footBar{
       width:80%;
       padding: 0 auto 0 auto;
       display:flex;
       flex-direction: row;
       justify-content: space-between;
           & .footItem{
            text-align: center;
        margin-left:2em;
       }

    }
}

    /*adaptando pantalla...*/
    @media only screen and (max-width:1100px)
    {  #staff {
        display:flex;
        flex-direction: column;
       
          
    }
    .divStaff{    
        
        width: 100%;
        height: auto;
       padding: 0 auto 0 auto;
       /*margin: 0;*/
        & img{   
             
           width:100%;
           height:auto;
           margin-left:auto;
           margin-right:auto;
          
        }
       & p, h3{
        max-width:80%;       
            
          
            padding: 0 auto 0 auto;
            
            
        }
        & h3{
            margin-top: 3%;
            

        }
          & p{
            
            margin-bottom:10%;
                
    }

    }
    
        
             
   header .logo{
     
       text-align: center;
       
       background-color: var(--bgcolor);
       width: 100%;
      
        
    }
    header .navBar{
    margin-top:40px; 
    background-color: var(--bgcolor);   
    justify-content: center;
    width:100%;
    right:0%;
    
    }
   .footBar{
        flex-direction: column;
       flex-wrap: wrap;
       & .footItem{
        
       margin:.3em auto .3em auto;
    }
    }
 
           }
           
     
       
     
